svg.d3-layout-cluster {
	background-color: #eeeeee;

	.node {
		font: 10px sans-serif;

		circle {
			fill: #fff;
			stroke: steelblue;
			stroke-width: 1px;
		}
	}

	.link {
		fill: none;
		stroke: #ccc;
		stroke-width: 1px;
	}
}

